
<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<%- messages() %>

<div class="welcome-message">
  <% if (locals.user) { %>
    <h2>Welcome <%= account_firstname %>!</h2>
    <p>You are logged in. Use the options below to manage your account.</p>
  <% } else { %>
    <h2>Welcome!</h2>
    <p>You are logged in. Use the options below to manage your account.</p>
  <% } %>
</div>

<div class="account-actions">
  <a href="/account/edit" class="btn btn-primary">Edit Account Information</a>
  <a href="/account/logout" class="btn btn-secondary">Logout</a>
</div>


<link rel="stylesheet" href="/css/inventory.css">