<!-- ================= The content heading Section ================= -->
<!--=============implement a value for the <title> element that describes the content of the view==========-->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>


<!--============= A message block ==========-->
<%# messages() %>


<!-- The Inventory Items Display
This code block is the main content delivery mechanism for the view  -->
<div class="inventory-grid">
  <%- grid %>
</div>